<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Philly Animal Rights Alliance</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  </head>
  <body class="{{ current.source }}">
    <header>
      <div class="logo">
        <img src="./assets/images/logo-draft-inverted.png">
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/campaigns">Campaigns</a>
        <a href="/calendar">Calendar</a>
        <a href="/resources">Resources</a>
        <a href="/contact">Contact Us</a>
        <div class="button" id="updates" onclick="showDiv()">Get Updates!</div>
      </nav>
      <div class="parent">
        <div class="form_div" id="hidden_form">
          <h3>Subscribe to Updates</h3>
          <form target="transFrame" action="https://docs.google.com/forms/d/e/1FAIpQLSdc7O_TfYuqUOPm5D5O65b9RMjQtmFtOh0HWSxlBpB2OBO99Q/formResponse" method="POST">
            <label for="entry.1923990243">Name:</label>
            <input type="text" name="entry.1923990243"><br><br>
            <label for="entry.1795929851">E-mail:</label>
            <input type="text" name="entry.1795929851"><br><br>
            <input class="button" type="submit" value="Send" onclick="hideDiv()">
          </form>
          <div class="close" onclick="hideDiv()"><p>Close</p></div>
          <iframe style="display: none;" name="transFrame" id="transFrame"></iframe>
        </div>
      </div>
    </header>

    <div class = "pagebanner">
      {% block title %}{% endblock %}
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="facebook">
        <div class="fb-page" data-href="https://www.facebook.com/phillyanimalrights/" data-tabs="events, timeline" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/phillyanimalrights/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/phillyanimalrights/">Philly Animal Rights Alliance</a>
          </blockquote>
        </div>
      </div>
      <div class="contact">
        <h1>Contact Info</h1>
        <p>For more information contact us at</p>
        <a href="mailto:phillyanimalrights@gmail.com">phillyanimalrights@gmail.com</a>
      </div>
    </footer>

    <script src="/assets/scripts/main.js"></script>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
