{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">About PARA</h1>
{% endblock %}

{% block content %}

  <section class="info-box">
    <h4>About The Philly Animal Rights Alliance</h4>
    <div class="text">
      <p>The Philly Animal Rights Alliance (PARA) is a group of local animal rights activists across a variety of philosophies, organizations, and tactics working together and network, share information and resources, increase cooperation, and collaborate on large-scale projects with the shared goal of creaing a sustainable movement for animal liberation in Philadelphia.</p>
      <p>Read about our <a href="/values">values, goals,</a> and <a href="/campaigns">campaign priorities</a></p>
    </div>
  </section>

  <section class="info-box">
  <h3>Our Values</h3>
    <ul>
      <li>Compassion and respect for all animals:human and non-human</li>
      <li>Non-violence</li>
      <li>Co-operation and collaboration</li>
      <li>Focus on effectiveness</li>
      <li>Committment and dedication</li>
      <li>Inclusion and intersectionality</li>
    </ul>
  </section>

  <section class="info-box">
    <h3>Our Goals</h3>
    <ul>
      <li>Animal liberation and ending animal exploitation</li>
      <li>Demonstrate unity within the animal rights movement</li>
      <li>Changing public perception of animal rights</li>
      <li>Increase collaboration between animal rights activists and other social justice movements</li>
    </ul>
  </section>
{% endblock %}
