{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Calendar</h1>
{% endblock %}

{% block content %}
  <section class="info-box">
    <h4>Next General Body Meeting:</h4>
    <h4>Sunday, April 23rd 2017</h4>
    <h4>1:00pm - 3:00pm</h4>
    <p>2132 Ellsworth St</p>
    <p>Philadelphia, PA 19146</p>
  </section>

  <section class="info-box">
    <h4>Take action for animals!</h4>
    <p>Local protest opporunties coming soon. To submit an event, please email details to: phillyanimalrights@gmail.com</p>
  </section>
{% endblock %}
