{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Calendar</h1>
{% endblock %}

{% block content %}

<div class="detailed-page"
  <section class="info-box">
    <div>
      <h4>Next General Body Meeting:</h4>
      <h4>Sunday, April 23rd 2017</h4>
      <h4>1:00pm - 3:00pm</h4>
      <p>2132 Ellsworth St</p>
      <p>Philadelphia, PA 19146</p>
    </div>
  </section>

  <section class="sidebar">
    <h4>Take action for animals!</h4>
    <p>Local protest opportunities coming soon. To submit an event, please complete this <a href="https://goo.gl/forms/ngIyndmicrTakqhT2" target="blank">form</a>.</p>
  </section>
</div>
{% endblock %}
