{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Calendar</h1>
{% endblock %}

{% block content %}

<div class="detailed-page">

  <section class="primary-content">
    <h3>Philly Animal Rights Events</h3>
    <h3>Want to submit an event? Please complete this <a href="https://goo.gl/forms/ngIyndmicrTakqhT2" target="blank">form</a>.</h3>
    <div id="calendar">
      <div class="cal-event">
      </div>
    </div>
  </section>

  <section class="sidebar">
    <div>
      <h3>Next PARA Meeting:</h3>
      <p>
      Sunday, April 23rd 2017
      </br>1:00pm - 3:00pm
      </br>2132 Ellsworth St
      </br>Philadelphia, PA 19146
      </p>
    </div>
  </section>
</div>
{% endblock %}
