{% extends "_base.njk" %}

{% block content %}
  <h1 class="title">Joint Campaigns</h1>
  <section class="info-box">
    <h3>Legislative Campaigns</h3>
    <ul>
      <li>End horse-drawn carraiges in Philadelphia</li>
      <li>Ban circuses in Philadelphia</li>
      <li>Make all city-sposored events vegan</li>
      <li>Enact city-wide tax on meat</li>
      <li>Ban the sale of fur in Philadelphia</li>
      <li>Ban the sale of meat in Philadelphia</li>
    </ul>
  </section>
  <section class="info-box">
    <h3>Outreach Campaigns</h3>
    <ul>
      <li>For for Thought: Make all animal-centered fundraisers vegan (at shelters, ex)</li>
      <li>Vegan education and outreach to low income communities</li>
    </ul>
  </section>
{% endblock %}
