{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Campaigns</h1>
{% endblock %}

{% block content %}
  <div class="detailed-page">

    <div class="primary-content">
      <h4>Our Campaigns</h4>
      <section class="info-box">
        <p>PARA has multiple legislative and outreach campaign priorities spanning from short-term to very long term, with our ultimate goal of total animal liberation in the city of Philadelphia. We plan to do this through a series of progegressively aggressive campaigns which bring togther activists from a range of organizations.</p>
        <p>Our current focus is on our first legislative priority: ending horse-drawn carriages in the city of Philadelphia. <a href="/end_hdc">click here</a> to read more about that campaign.</p>
      </section>
      <section class="info-box">
        <h3>Legislative Campaigns</h3>
        <ul>
          <li>End horse-drawn carraiges in Philadelphia</li>
          <li>Ban circuses in Philadelphia</li>
          <li>Make all city-sposored events vegan</li>
          <li>Enact city-wide tax on meat</li>
          <li>Ban the sale of fur in Philadelphia</li>
          <li>Ban the sale of meat in Philadelphia</li>
        </ul>
      </section>
      <section class="info-box">
        <h3>Outreach Campaigns</h3>
        <ul>
          <li>For for Thought: Make all animal-centered fundraisers vegan (at shelters, ex)</li>
          <li>Vegan education and outreach to low income communities</li>
        </ul>
      </section>
    </div>

    <section class="sidebar">
      <h3>Campaign Updates</h3>
      <p>Campaign updates coming soon!</p>
      <p>If you would like to get involved with any of our current campaigns, please join our <a href="/calendar">next meeting.</a></p>
    </section>


  </div>

{% endblock %}
