{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Campaign #1: End HDC</h1>
{% endblock %}

{% block content %}
  <div class="detailed-page">

    <div class="primary-content">
      <section class="info-box">
        <p>PARA is currently focused on ending Horse Drawn Carriages in the city of Philadelphia. Please check back soon for more information on our first campaign!</p>
      </section>

    </div>

    <section class="sidebar">
      <h3>Campaign Updates</h3>
      <p>Sidebar update 1</p>
      <p>Sidebar update 2</p>
      <p>Sidebar update 3</p>
    </section>


  </div>

{% endblock %}
