{% extends "_base.njk" %}

{% block title %}
  <h1 class="title">Philly Animal Rights Alliance</h1>
{% endblock %}

{% block content %}
  <section class="information">
    <div class="category">
      <a href="/about"><img src="http://placehold.it/200x200"><h1>Who We Are</h1></a>
      <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo, leo scelerisque pellentesque auctor, tortor sem maximus urna, eu pellentesque velit lectus sed massa. Duis vitae est a turpis dignissim lacinia a non augue. Nulla facilisi. </p>
    </div>
    <div class="category">
      <a href="/campaigns"><img src="http://placehold.it/200x200"><h1>Campaigns</h1></a>
      <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo, leo scelerisque pellentesque auctor, tortor sem maximus urna, eu pellentesque velit lectus sed massa. Duis vitae est a turpis dignissim lacinia a non augue. Nulla facilisi. </p>
    </div>
    <div class="category">
      <a href="/calendar"><img src="http://placehold.it/200x200"><h1>Calendar</h1></a>
      <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo, leo scelerisque pellentesque auctor, tortor sem maximus urna, eu pellentesque velit lectus sed massa. Duis vitae est a turpis dignissim lacinia a non augue. Nulla facilisi. </p>
    </div>
  </section>
{% endblock %}
