{% extends "_base.njk" %}

{% block content %}
  <h1 class="title">Philly Animal Rights Alliance</h1>
  <section class="information">
    <a href="/about"><img src="http://placehold.it/200x200"><h1>Who We Are</h1></a>
    <a href="/values"><img src="http://placehold.it/200x200"><h1>Values</h1></a>
    <a href="/campaings"><img src="http://placehold.it/200x200"><h1>Campaigns</h1></a>
  </section>
  <section class="info-box">
    <h4>About The Philly Animal Rights Alliance</h4>
    <div class="text">
      <p>The Philly Animal Rights Alliance (PARA) is a group of local animal rights activists across a variety of philosophies, organizations, and tactics working together and network, share information and resources, increase cooperation, and collaborate on large-scale projects with the shared goal of creaing a sustainable movement for animal liberation in Philadelphia.</p>
      <p>Read about our <a href="/values">values, goals,</a> and <a href="/campaigns">campaign priorities</a></p>
    </div>
  </section>
{% endblock %}
