{% extends "_base.njk" %}

{% block content %}
  <h1 class="title">Philly Animal Rights Alliance</h1>
  <section class="information">
    <a href="#" target="_blank"><img src="http://placehold.it/200x200"><h1>Who We Are</h1></a>
    <a href="#" target="_blank"><img src="http://placehold.it/200x200"><h1>Values</h1></a>
    <a href="#" target="_blank"><img src="http://placehold.it/200x200"><h1>Campaigns</h1></a>
  </section>
  <section class="about">
    <h4>About The Philly Animal Rights Alliance</h4>
    <div class="text">
      <p>The Philly Animal Rights Alliance (PARA) is a group of local animal rights activists across a variety of philosophies, organizations, and tactics working together and network, share information and resources, increase cooperation, and collaborate on large-scale projects with the shared goal of creaing a sustainable movement for animal liberation in Philadelphia.</p>
      <p>Read about our <a href="/values">values, goals,</a> and <a href="/campaigns">campaign priorities</a></p>
    </div>
  </section>
  <footer>
    <div class="facebook">
      <div class="fb-page" data-href="https://www.facebook.com/phillyanimalrights/" data-tabs="events, timeline" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/phillyanimalrights/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/phillyanimalrights/">Philly Animal Rights Alliance</a></blockquote></div>
    </div>
    <div class="contact">
      <h1>Contact Info</h1>
      <p>For more information contact us at</p>
      <a href="mailto:phillyanimalrights@gmail.com">phillyanimalrights@gmail.com</a>
    </div>
  </footer>
{% endblock %}
