{% extends "_base.njk" %}

{% block content %}
  <h1 class="title">Values and Goals</h1>

  <section class="info-box">
  <h3>Our Values</h3>
    <ul>
      <li>Compassion and respect for all animals:human and non-human</li>
      <li>Non-violence</li>
      <li>Co-operation and collaboration</li>
      <li>Focus on effectiveness</li>
      <li>Committment and dedication</li>
      <li>Inclusion and intersectionality</li>
    </ul>
  </section>

  <section class="info-box">
    <h3>Our Goals</h3>
    <ul>
      <li>Animal liberation and ending animal exploitation</li>
      <li>Demonstrate unity within the animal rights movement</li>
      <li>Changing public perception of animal rights</li>
      <li>Increase collaboration between animal rights activists and other social justice movements</li>
    </ul>
  </section>
{% endblock %}
