{% extends "_base.njk" %}

{% block title %}
<h1 class="title">Resources</h1>
{% endblock %}

{% block content %}
  <section class="info-box">
    <p>Local vegan and activism resources coming soon!</p>
    <p>Have resources to share? Email: phillyanimalrights@gmail.com</p>
  </section>
{% endblock %}
