* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

body {
  background-image: url("../images/background2_dark.jpg");
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
  margin-top: 20px;
  color: #FFE4B5;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 0 20px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: pink;
}

section {
  margin: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  text-align: right;
  background: #00b359;

  nav {
    margin: 20px 0;
    width: 100%;

    a {
      padding: 0 15px;
    }
  }
}

.logo {
  flex-shrink: 0;
}

.banner {
  width: 100%;
  height: auto;
}

.information {
  display: flex;
  justify-content: space-around;

  img {
    border-radius: 100%;
    border: 5px solid white;
    padding: 3px;
  }
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form_div {
  display: none;
  width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
  right: 0;
  border: #fff 4px solid;
}

.close {
  cursor: pointer;
  text-decoration: underline;
}

.info-box {
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);

  .facebook, .contact {
    padding: 20px;
  }

  .contact {
    text-align: right;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  input, textarea {
    width: 500px;
    padding: 20px;
  }
}

.text {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.button {
  background-color: #E45700;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

.button:hover {
  background-color: #E6C800;
}
