body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

body.index {
  background-image: url("../images/background2_dark.jpg");
}

.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
  margin-top: 20px;
  color: #FFE4B5;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 0 20px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: pink;
}

ul {
  text-align: left;
}

section {
  margin: 20px 0;
}

.nav {
  display: inline-block;
}

.nav li {
  list-style: none;
  display: inline-block;
  margin: auto 20px;
}

.header {
  text-align: right;
  margin: 20px 20px 0 0;
}

.information {
  display: flex;
  justify-content: space-around;

  img {
    border-radius: 100%;
    border: 5px solid white;
    padding: 3px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    text-align: center;
    margin: 0 auto;
  }
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
}

.form_div {
  display: none;
  width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: #fff 5px solid;
}

.fb_iframe_widget span iframe[style] {
width: 100% !important;
}

.close {
  cursor: pointer;
  text-decoration: underline;
}

.icon {
  width: 100px;
}

.social {
  width: 250px;
}

.about {
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);

  .facebook, .contact {
    padding: 20px;
  }

  .contact {
    text-align: right;
  }
}

.text {
  text-align: center;
  display: block;
  padding: 0 50px 20px 50px;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .text {
    padding: 0 10px 20px 10px;
  }
}

.button {
  background-color: #E45700;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #E6C800;
}

footer img {
  width: 250px;
}
