* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto 0px auto 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #2e2e2e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

body {
  background: #2e2e2e;
}

.content {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
}


.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 9vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
  margin-bottom: 40px;
  margin-top: 40px;
}

.title.home {
  font-size: 7vw;
  margin-top: 10px;
}

.title.campaign {
  font-size: 5vw;
  margin-top: 0px;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
  margin-top: 20px;
  color: #FFE4B5;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 0 20px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ee9a66;
}

section {
  margin: 20px 0;
}

.headerparent {
  background-image: url("/assets/images/background2_dark.jpg");
  background-position: center;
  background-size: cover;
  background-position: absolute;
  min-height: 410px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
  padding-top: 20px;
  text-align: right;

  nav {
    margin: 0px 0px 20px 0px;
    width: 100%;

    a {
      padding: 0 15px;
    }
  }
}

.logo {
  flex-shrink: 0;
  margin-left: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.banner {
  width: 100%;
  height: auto;
}

.pagebanner {
}

.information {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin: auto 20px;

  img {
    border-radius: 100%;
    border: 5px solid white;
    padding: 3px;
    margin-bottom: 10px;
  }
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form_div {
  display: none;
  width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
  right: 0;
  border: #fff 4px solid;
}

.close {
  cursor: pointer;
  text-decoration: underline;
}

.info-box {
  background-color: #2e2e2e;
  text-align: left;
}

.category {
  width: 30%;
}

.category img {
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
}

.category img:hover {
  filter: grayscale(0%);
}

.blurb {
  margin: 10px auto;
  text-align: justify;
}

.detailed-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sidebar {
  margin: 0 20px;
  background-color: #f9ddcc;
  width: 25%;
  color: #0f0f0f;

  p {
    padding: 0 20px;
    text-align: left;
  }

  a {
    color: #E45700;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #ee9a66;
  }

}

.primary-content {
  width: 75%;
  margin-top: 0px;

  a {
    text-decoration: underline;
  }

  h3 {
    padding-left: 0px;
    margin-top: 0px;
  }

}

.cal {
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 100px;
  background-color: #E45700;

  .facebook, .contact {
    padding: 30px;
  }

  .contact {
    text-align: left;

    img {
      height: 50px;
    }

    a:hover {
      color: #0f0f0f;
    }

  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  input, textarea {
    width: 500px;
    padding: 20px;
  }
}

.text {
  font-size: 18px;
  margin: 0 auto;
  text-align: left;
}

.button {
  background-color: #E45700;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

.button:hover {
  background-color: #E6C800;
}
